name: Main Branch Protection

on:
  pull_request:
    branches:
      - main

jobs:
  check-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Check branch
        run: |
          if [[ ${GITHUB_HEAD_REF} == test-deletelater ]]; 
          then
            echo "Error: Pull request must NOT come from 'test-deletelater' branch"
            exit 1
          fi
